/* ===============================================
                        css reset 
==================================================  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

body {
    background-color: rgba(128, 128, 128, 0.041);
}


/* =========👇👇 DROPDOWN MENU LIST CSS CODE 👇👇=========  */

.drop-list {
    flex-direction: column;
    /* background-color: #0957e79c; */
    background-color: rgba(0, 0, 0, 0.457);
    color: white;
    padding: 1rem;
    border-radius: 0.2rem;
    position: absolute;
    visibility: hidden;
    /* margin-top: 1.5rem; */
}

.dropdown-menu:hover .drop-list {
    visibility: visible;
    transition: all 0.5s;
}

.dropdown-menu:hover .drop-list a li {
    color: white;
    padding: 0.3rem 0rem;
}


/* ===============================================
                    H E R O    SECTION 
 ==================================================  */


/* -----nav section----- */

#header {
    width: 100vw;
    height: 70vh;
    background-image: linear-gradient(rgba(31, 28, 28, 0.61), rgba(0, 0, 0, 0.685)), url(../images/service-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header .container {
    width: 100%;
    height: 100%;
}

#header .heroNav {
    width: 80%;
    margin: auto;
    color: white;
    padding: 2rem 0rem;
}

#header .heroNav .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .heroNav .container .logo {
    width: 20%;
}

#header .heroNav .container .logo img {
    color: white;
    width: 100%;
}

#header .heroNav .container .navMenu {
    width: 60%;
}

#header .heroNav .container .navMenu .navBar {
    width: 100%;
}

#header .heroNav .container .navMenu .navBar ul {
    display: flex;
}

#header .heroNav .container .navMenu .navBar ul li {
    list-style: none;
    margin: 0rem 0.5rem;
}

#header .heroNav .container .navMenu .navBar ul li a {
    text-decoration: none;
    color: white;
}

#header .heroNav .container .navMenu .navBar ul li a:hover {
    color: #0957E7;
    transition: all 0.3s;
}

#header .heroNav .container .navCartIcon a {
    text-decoration: none;
    color: white;
}

#header .heroNav .container .navCartIcon a:hover {
    color: #0957E7;
    transition: all 0.3s;
}

#header .container .hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 3rem 0rem;
}

#header .container .hero-content .container {
    width: 100%;
    height: 100%;
}

#header .container .hero-content .container h1 {
    padding: 0.5rem 0rem;
    font-size: 2.5rem;
}


/* =====================================================
                    COMPANY HISTORY SECTION
====================================================== */

#about {
    width: 100%;
    padding: 5rem 0rem;
}

#about .container {
    width: 80%;
    margin: auto;
    display: flex;
}

#about .container .box {
    padding: 0rem 1rem;
}

#about .container .box1 p {
    background-color: #0957E7;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    display: inline-block;
}

#about .container .box1 h1 {
    padding: 1.5rem 0rem;
    line-height: 1.8;
    font-size: 2rem;
}

#about .container .box2 {
    padding: 0rem 2rem;
}

#about .container .box2 .sub-box {
    display: flex;
    margin: 1.5rem 0rem;
    justify-content: space-around;
    padding: 1rem 0rem;
}

#about .container .box2 .sub-box1 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.217);
}

#about .container .box2 .sub-box1 p {
    font-weight: bolder;
}

#about .container .box2 .sub-box2 {
    padding: 1rem 0rem;
    line-height: 1.9;
    color: gray;
}

#about .container .box2 .sub-box3 .btn a {
    background-color: #0957E7;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.2rem;
}


/* =====================================================                        OUR ADVANTAGES SECTION ====================================================== */

#advantage {
    width: 100%;
    padding: 4rem 0rem;
    background-color: rgba(128, 128, 128, 0.034);
}

#advantage .container {
    width: 80%;
    margin: auto;
    display: flex;
}

#advantage .container .box1 {
    width: 30%;
}

#advantage .container .box1 p {
    background-color: #0957E7;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    display: inline-block;
}

#advantage .container .box1 h1 {
    font-size: 2.5rem;
    padding: 1rem 0rem;
}

#advantage .container .box2 .sub-box {
    display: flex;
}

#advantage .container .box2 .sub-box .card {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#advantage .container .box2 .sub-box .card .icon i {
    font-size: 2.5rem;
    color: #0957E7;
}

#advantage .container .box2 .sub-box .card .card-content {
    padding-left: 1rem;
}

#advantage .container .box2 .sub-box .card .card-content p {
    color: gray;
    padding: 1rem 0rem;
}


/* =====================================================                           ASK QUESTIONS SECTION ======================================================  */

#ask {
    width: 100%;
    background-color: white;
    padding: 5rem 0rem;
}

#ask .container {
    width: 80%;
    margin: auto;
    display: flex;
}

#ask .container .box1 {
    width: 30%;
}

#ask .container .box1 .content p {
    background-color: #0957E7;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    display: inline-block;
}

#ask .container .box1 .content h1 {
    font-size: 2.5rem;
    padding: 1rem 0rem;
}

#ask .container .box2 .content .questions-1 {
    padding: 1rem 0rem;
}

#ask .container .box2 .content .questions-1 .question {
    font-weight: bolder;
    padding: 0.5rem 0rem;
    font-size: 1.2rem;
}

#ask .container .box2 .content .questions-1 .answer {
    color: gray;
}


/* ===============================================
                       OUR TEAM SECTION
    ================================================= */

#team {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.062);
    padding: 7rem 0rem;
}

#team .container {
    width: 80%;
    margin: auto;
    display: flex;
}

#team .container .box1 {
    width: 40%;
}

#team .container .box1 .content .team-title {
    background-color: #0957E7;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    display: inline-block;
}

#team .container .box1 .content h1 {
    font-size: 2.5rem;
    padding: 1rem 0rem;
}

#team .container .box1 .content .team-des {
    color: gray;
    line-height: 1.8;
}

#team .container .box2 {
    width: 100%;
    background-color: white;
    margin: 0rem 1.5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 3px 8px 30px rgba(128, 128, 128, 0.162);
}

#team .container .box2 .sub-box1 img {
    width: 150px;
    border-radius: 50%;
}

#team .container .box2 .sub-box2 {
    width: 100%;
    padding: 0rem 1.5rem;
}

#team .container .box2 .sub-box2 .content {
    width: 100%;
}

#team .container .box2 .sub-box2 .content .team-name {
    text-align: center;
    font-weight: bolder;
}

#team .container .box2 .sub-box2 .content .designation {
    text-align: center;
    padding: 0.5rem 0rem;
    color: #0957E7;
}

#team .container .box2 .sub-box2 .content .team-about {
    padding: 1rem 0rem;
    line-height: 1.9;
    color: gray;
}

#team .container .box2 .sub-box2 .content .team-s-icon {
    text-align: center;
}

#team .container .box2 .sub-box2 .content .team-s-icon i {
    color: gray;
    font-size: 1.5rem;
    padding: 0rem 0.5rem;
}


/* ===============================================
                OUR STATISTICS SECTION
=================================================  */

#statistics {
    width: 100%;
    padding: 5rem 0rem;
    background-color: white;
}

#statistics .container {
    width: 80%;
    margin: auto;
    display: flex;
}

#statistics .container .box1 {
    width: 30%;
    padding: 0rem 1rem;
}

#statistics .container .box1 .content p {
    background-color: #0957E7;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    display: inline-block;
}

#statistics .container .box1 .content h1 {
    font-size: 2.5rem;
    padding: 1rem 0em;
}

#statistics .container .box2 {
    width: 100%;
    display: flex;
    padding: 0rem 2rem;
}

#statistics .container .box2 .sub-box {
    width: 100%;
    padding: 0rem 2rem;
}

#statistics .container .box2 .sub-box .card {
    padding: 1rem 0rem;
}

#statistics .container .box2 .sub-box .card p {
    font-weight: bolder;
}

#statistics .container .box2 .sub-box .card input {
    width: 100%;
    background-color: #0957E7;
    border: none;
}


/* ===============================================
                    FOOTER
================================================= */

#footer {
    width: 100%;
    padding: 5rem 0rem;
    background-color: white;
    box-shadow: 5px 3px 20px gray;
}

#footer .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#footer .container .box {
    width: 100%;
    margin: 0rem 1rem;
}

#footer .container .box1 {
    text-align: center;
}

#footer .container .box1 p {
    color: gray;
    padding: 1.2rem 0rem;
    line-height: 1.8;
}

#footer .container .box1 .icon {
    padding: 1rem 0rem;
}

#footer .container .box1 .icon i {
    font-size: 1.5rem;
    color: gray;
    padding: 0rem 0.5rem;
}

#footer .container .box2 {
    padding: 0rem 1rem;
}

#footer .container .box2 .sub-box {
    width: 100%;
}

#footer .container .box2 .sub-box1 {
    padding: 1rem 0rem;
    text-align: center;
}

#footer .container .box2 .sub-box1 h2 {
    color: gray;
}

#footer .container .box2 .sub-box2 {
    display: flex;
    justify-content: space-between;
}

#footer .container .box2 .sub-box2 .card p {
    padding: 0.3rem 0rem;
    text-align: center;
}

#footer .container .box3 {
    width: 70%;
    margin: auto;
    text-align: center;
}

#footer .container .box3 h1 {
    padding: 1rem 0rem;
    color: #0957E7;
}

#footer .container .box3 p {
    padding: 1rem 0rem;
}


/* ===============================================
                   COPYRIGHT SECTION
================================================= */

#copy {
    width: 100%;
    padding: 3rem 0rem;
    text-align: center;
}