/* ===============================================
                        css reset 
==================================================  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

body {
    background-color: rgba(128, 128, 128, 0.041);
}


/* ===============================================
                    H E R O    SECTION 
 ==================================================  */


/* -----nav section----- */

#header {
    width: 100vw;
    height: 70vh;
    background-image: linear-gradient(rgba(31, 28, 28, 0.61), rgba(0, 0, 0, 0.685)), url(../images/service-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header .container {
    width: 100%;
    height: 100%;
}

#header .heroNav {
    width: 80%;
    margin: auto;
    color: white;
    padding: 2rem 0rem;
}

#header .heroNav .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .heroNav .container .logo {
    width: 20%;
}

#header .heroNav .container .logo img {
    color: white;
    width: 100%;
}

#header .heroNav .container .navMenu {
    width: 60%;
}

#header .heroNav .container .navMenu .navBar {
    width: 100%;
}

#header .heroNav .container .navMenu .navBar ul {
    display: flex;
}

#header .heroNav .container .navMenu .navBar ul li {
    list-style: none;
    margin: 0rem 0.5rem;
}

#header .heroNav .container .navMenu .navBar ul li a {
    text-decoration: none;
    color: white;
}

#header .heroNav .container .navMenu .navBar ul li a:hover {
    color: #0957E7;
    transition: all 0.3s;
}

#header .heroNav .container .navCartIcon a {
    text-decoration: none;
    color: white;
}

#header .heroNav .container .navCartIcon a:hover {
    color: #0957E7;
    transition: all 0.3s;
}

#header .container .hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 3rem 0rem;
}

#header .container .hero-content .container {
    width: 100%;
    height: 100%;
}

#header .container .hero-content .container h1 {
    padding: 0.5rem 0rem;
    font-size: 2.5rem;
}


/* ===============================================
                    OUR SERVICE HEADER
================================================ */

#service {
    width: 100%;
}

#service .container {
    width: 80%;
    margin: auto;
    padding: 4rem 0rem;
}

#service .container .box {
    width: 100%;
    padding: 3rem 0rem;
}

#service .container .box1 .box-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#service .container .box2 .box-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#service .container .box2 .box-container .card {
    width: 100%;
    margin: 0rem 1rem;
    text-align: center;
}

#service .container .box2 .box-container .card .card-img {
    width: 100%;
}

#service .container .box2 .box-container .card .card-img img {
    width: 100%;
    border-radius: 1rem;
}

#service .container .box2 .box-container .card .card-content {
    width: 100%;
    padding: 1rem 0rem;
}

#service .container .box3 .box-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#service .container .box3 .box-container .card {
    width: 100%;
    margin: 0rem 1rem;
    text-align: center;
}

#service .container .box3 .box-container .card .card-img {
    width: 100%;
}

#service .container .box3 .box-container .card .card-img img {
    width: 100%;
    border-radius: 1rem;
}

#service .container .box3 .box-container .card .card-content {
    width: 100%;
    padding: 1rem 0rem;
}

#service .container .box4 .box-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#service .container .box4 .box-container .card {
    width: 100%;
    margin: 0rem 1rem;
    text-align: center;
}

#service .container .box4 .box-container .card .card-img {
    width: 100%;
}

#service .container .box4 .box-container .card .card-img img {
    width: 100%;
    border-radius: 1rem;
}

#service .container .box4 .box-container .card .card-content {
    width: 100%;
    padding: 1rem 0rem;
}


/* 
=================================================
                    FEATURE SECTION
================================================= */

#feature {
    width: 100%;
    padding: 5rem 0rem;
    background-color: rgba(128, 128, 128, 0.096);
    border-top: 1px solid rgba(128, 128, 128, 0.281);
}

#feature .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#feature .container .card {
    padding: 0.5rem;
}

#feature .container .card .card-container i {
    color: #0957E7;
    font-size: 2.5rem;
}

#feature .container .card .card-container h3 {
    padding: 1rem 0rem;
}

#feature .container .card .card-container p {
    color: gray;
}


/* ===============================================
                    COUNT SECTION
================================================= */

#count {
    width: 100%;
    padding: 5rem 0rem;
    background-color: #0957e7b4;
    color: white;
}

#count .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: c;
}

#count .container .card {
    padding: 1rem;
}

#count .container .card .card-container h3 {
    padding: 0.5rem 0rem;
}

#count .container .card .card-container p {
    line-height: 1.8;
    font-size: 0.9rem;
}


/* ===============================================
                TESTIMONIALS SECTION
================================================= */

#testimonials {
    width: 100%;
    padding: 4rem 0rem;
}

#testimonials .container {
    width: 80%;
    margin: auto;
}

#testimonials .container .box {
    width: 100%;
}

#testimonials .container .box .box-container {
    width: 100%;
}

#testimonials .container .box1 {
    text-align: center;
    padding: 3rem 0rem;
}

#testimonials .container .box1 .box-container .title {
    color: white;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    background-color: #0957E7;
}

#testimonials .container .box1 .box-container h1 {
    padding: 0.5rem 0rem;
}

#testimonials .container .box1 .box-container .des {
    width: 50%;
    margin: auto;
    color: gray;
}

#testimonials .container .box2 {
    width: 100%;
    padding: 3rem 0rem;
    display: flex;
    align-items: center;
}

#testimonials .container .box2 .card {
    width: 100%;
    padding: 0rem 2rem;
    text-align: center;
}

#testimonials .container .box2 .card .card-container {
    width: 100%;
}

#testimonials .container .box2 .card .card-container .team-img {
    width: 100%;
}

#testimonials .container .box2 .card .card-container .team-img img {
    width: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 1.5rem 0rem;
}

#testimonials .container .box2 .card .card-container .team-info .team-name {
    font-weight: bolder;
}

#testimonials .container .box2 .card .card-container .team-info .team-desig {
    color: #0957E7;
    padding: 0.4rem 0rem;
}

#testimonials .container .box2 .card .card-container .team-info .team-about {
    color: gray;
    padding: 0.5rem;
}

#testimonials .container .box2 .card .card-container .team-social-icon {
    padding: 2rem 0rem;
}

#testimonials .container .box2 .card .card-container .team-social-icon i {
    color: gray;
    font-size: 1.5rem;
    padding: 0rem 0.5rem;
}


/* ===============================================
                    FOOTER
================================================= */

#footer {
    width: 100%;
    padding: 5rem 0rem;
    background-color: white;
    box-shadow: 5px 3px 20px gray;
}

#footer .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#footer .container .box {
    width: 100%;
    margin: 0rem 1rem;
}

#footer .container .box1 {
    text-align: center;
}

#footer .container .box1 p {
    color: gray;
    padding: 1.2rem 0rem;
    line-height: 1.8;
}

#footer .container .box1 .icon {
    padding: 1rem 0rem;
}

#footer .container .box1 .icon i {
    font-size: 1.5rem;
    color: gray;
    padding: 0rem 0.5rem;
}

#footer .container .box2 {
    padding: 0rem 1rem;
}

#footer .container .box2 .sub-box {
    width: 100%;
}

#footer .container .box2 .sub-box1 {
    padding: 1rem 0rem;
    text-align: center;
}

#footer .container .box2 .sub-box1 h2 {
    color: gray;
}

#footer .container .box2 .sub-box2 {
    display: flex;
    justify-content: space-between;
}

#footer .container .box2 .sub-box2 .card p {
    padding: 0.3rem 0rem;
    text-align: center;
}

#footer .container .box3 {
    width: 70%;
    margin: auto;
    text-align: center;
}

#footer .container .box3 h1 {
    padding: 1rem 0rem;
    color: #0957E7;
}

#footer .container .box3 p {
    padding: 1rem 0rem;
}


/* ===============================================
                   COPYRIGHT SECTION
================================================= */

#copy {
    width: 100%;
    padding: 3rem 0rem;
    text-align: center;
}