/* ===========================================
                    fonts 
============================================== 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ===============================================
                        css reset 
==================================================  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}


/* ============================================== 
                utilities class
 ================================================ */

.color-grey {
    color: gray;
}


/* ===============================================
                    H E R O    SECTION 
 ==================================================  */


/* -----nav section----- */

#header {
    width: 100vw;
    height: 120vh;
    background-image: url(./images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header .heroNav {
    width: 80%;
    margin: auto;
    color: white;
    padding: 2rem 0rem;
}

#header .heroNav .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .heroNav .container .logo {
    width: 20%;
}

#header .heroNav .container .logo img {
    color: white;
    width: 100%;
}

#header .heroNav .container .navMenu {
    width: 60%%;
}

#header .heroNav .container .navMenu .navBar {
    width: 100%;
}

#header .heroNav .container .navMenu .navBar ul {
    display: flex;
}

#header .heroNav .container .navMenu .navBar ul li {
    list-style: none;
    margin: 0rem 0.5rem;
}

#header .heroNav .container .navMenu .navBar ul li a {
    text-decoration: none;
    color: white;
}

#header .heroNav .container .navMenu .navBar ul li a:hover {
    color: #0957E7;
    transition: all 0.3s;
}

#header .heroNav .container .navCartIcon a {
    text-decoration: none;
    color: white;
}

#header .heroNav .container .navCartIcon a:hover {
    color: #0957E7;
    transition: all 0.3s;
}


/* ------- Hero main content section----------  */

#header .heroContent {
    width: 100%;
    margin: auto;
    color: white;
    position: absolute;
    top: 50%;
}

#header .heroContent .container {
    width: 80%;
    margin: auto;
}

#header .heroContent .container .row-block {
    width: 40%;
}

#header .heroContent .container .row-block p {
    background-color: #0957E7;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin: 0.5rem 0rem;
}

#header .heroContent .container .row-block h1 {
    font-size: 2.4rem;
}

#header .heroContent .container .btn-block {
    display: flex;
    padding: 3rem 0rem;
}

#header .heroContent .container .btn-block .primary-btn {
    background-color: #0957E7;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.2rem;
    border: 1px solid #0957E7;
}

#header .heroContent .container .btn-block .primary-btn:hover {
    background-color: white;
    border: 1px solid white;
    transition: all 0.3s;
    color: black;
}

#header .heroContent .container .btn-block .secondary-btn {
    /* background-color: #0957E7; */
    border: 1px solid white;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.2rem;
    margin-left: 2rem;
}

#header .heroContent .container .btn-block .secondary-btn:hover {
    background-color: white;
    border: 1px solid white;
    transition: all 0.3s;
    color: black;
}


/* ================================================== 
                    ABOUT SECTION
===================================================== */

#aboutCmp {
    width: 100%;
    padding: 7rem 0rem;
}

#aboutCmp .container {
    width: 80%;
    margin: auto;
    display: flex;
}

#aboutCmp .container .aboutCmpBox {
    width: 100%;
}

#aboutCmp .container .aboutCmpBox .img-content {
    width: 100%;
}

#aboutCmp .container .aboutCmpBox .img-content img {
    width: 100%;
    border-radius: 0.5rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content {
    width: 100%;
    padding: 0rem 2rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutSlogan {
    color: white;
    background-color: #0957E7;
    display: inline-block;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutTitle {
    padding: 0.5rem 0rem;
    font-size: 2rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutDes {
    color: gray;
    line-height: 1.7;
    padding: 0.5rem 0rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutSubBox {
    width: 100%;
    display: flex;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutSubBox .about-block {
    width: 100%;
    padding: 0.5rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutSubBox .about-block p {
    padding: 0.5rem 0rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutSubBox .about-block i {
    color: #0957E7;
}


/* ================================================== 
                            FEATURE SECTION
     ===================================================== */

#feature {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.146);
}

#feature .container {
    width: 80%;
    margin: auto;
    padding: 3rem 0rem;
}

#feature .container .box {
    width: 100%;
}

#feature .container .box .box-container {
    width: 100%;
    display: flex;
}

#feature .container .box .box-container .card {
    padding: 2rem;
}

#feature .container .box .box-container .card i {
    color: #0957E7;
    font-size: 3rem;
}

#feature .container .box .box-container .card h3 {
    padding: 1rem 0rem;
}

#feature .container .box .box-container .card p {
    color: gray;
    line-height: 1.8;
}


/* ================================================== 
                        ADVANTAGE SECTION
===================================================== */

#advantage {
    width: 100%;
    height: 130vh;
    background-image: url(./images/advantage-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    color: white;
}

#advantage .container {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#advantage .container .box {
    width: 100%;
}

#advantage .container .box1 p {
    background-color: #0957E7;
    display: inline-block;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
}

#advantage .container .box1 h1 {
    padding-top: 0.5rem;
    width: 70%;
}

#advantage .container .box2 {
    width: 100%;
}

#advantage .container .box2 .sub-box {
    width: 100%;
    display: flex;
}

#advantage .container .box2 .sub-box .card {
    padding: 1rem;
}

#advantage .container .box2 .sub-box .card .sub-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#advantage .container .box2 .sub-box .card .sub-card .icon {
    font-size: 2rem;
    margin: 0rem 1rem;
}

#advantage .container .box2 .sub-box .card .sub-card .icon i {
    color: #0957E7;
}

#advantage .container .box2 .sub-box .card .sub-card p {
    line-height: 1.9;
    padding: 1rem 0rem;
}


/* ================================================== 
                    COUNT SECTION
===================================================== */

#count {
    width: 100%;
    padding: 4rem 0rem;
    background-color: black;
    color: white;
}

#count .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#count .container .card {
    width: 100%;
    margin: 0rem 1rem;
    padding: 1rem;
}

#count .container .card .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#count .container .card .card-container .card-box {
    width: 100%;
}

#count .container .card .card-container .card-box i {
    font-size: 2.5rem;
    color: #0957E7;
}


/* ================================================== 
                      PLAN SECTION
     ===================================================== */

#plan {
    width: 100%;
    padding: 3rem 0rem;
}

#plan .container {
    width: 80%;
    margin: auto;
}

#plan .container .box1 {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 3rem 0rem;
}

#plan .container .box1 .title {
    display: inline-block;
    background-color: #0957E7;
    color: white;
    padding: 0.3rem 1.5rem;
    border-radius: 1rem;
}

#plan .container .box1 h1 {
    padding: 0.5rem 0rem;
}

#plan .container .box1 .des {
    color: gray;
    width: 65%;
    margin: auto
}

#plan .container .box2 {
    width: 100%;
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plan .container .box2 .sub-box {
    /* background-color: red; */
    padding: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 6px 24px rgb(0 0 0 / 12%);
}

#plan .container .box2 .sub-box1 {
    z-index: 1;
    position: relative;
    left: 20px;
    padding: 4rem 7rem;
    background-color: white;
}

#plan .container .box2 .sub-box2 {
    padding: 7rem 3rem;
    z-index: 2;
    background-color: white;
}

#plan .container .box2 .sub-box h2 {
    text-align: center;
}

#plan .container .box2 .sub-box h1 {
    text-align: center;
    padding: 0.5rem 0rem;
    color: #0957E7;
    font-size: 2.5rem;
}

#plan .container .box2 .sub-box p {
    padding: 0.2rem 0rem;
    font-size: 0.9rem;
}

#plan .container .box2 .sub-box i {
    color: #0957E7;
}

#plan .container .box2 .sub-box1 .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

#plan .container .box2 .sub-box2 .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

#plan .container .box2 .sub-box1 a {
    background-color: #0957E7;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
}

#plan .container .box2 .sub-box2 a {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
}

#plan .container .box3 {
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem;
    border-radius: 0.5rem;
    position: relative;
    bottom: 110px;
    background-color: white;
    z-index: 0;
    box-shadow: 0 6px 24px rgb(0 0 0 / 12%);
}

#plan .container .box3 .box-container {
    /* width: 100%; */
}

#plan .container .box3 .box-container h2,
h1 {
    text-align: center;
}

#plan .container .box3 .box-container h1 {
    color: #0957E7;
    font-size: 2.5rem;
}

#plan .container .box3 .box-container i {
    color: #0957E7;
}

#plan .container .box3 .box-container p {
    padding: 0.2rem 0rem;
    font-size: 0.9rem;
    color: gray;
}

#plan .container .box3 .box-container .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

#plan .container .box3 .box-container .btn a {
    background-color: #0957E7;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
}


/* ================================================== 
                    PRODUCT SECTION
===================================================== */

#product {
    width: 100%;
    padding: 5rem 0rem;
    background-color: rgba(128, 128, 128, 0.082);
}

#product .container {
    width: 80%;
    margin: auto;
}

#product .container .pro-box1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#product .container .pro-box1 .pro-sub-box {
    display: flex;
    justify-content: space-around;
}

#product .container .pro-box1 .pro-sub-box h3 {
    padding: 0rem 0.7rem;
}

#product .container .pro-box1 .pro-sub-box h3:hover {
    color: #0957E7;
    transition: all 0.4s;
}

#product .container .pro-box1 .pro-sub-box i {
    font-size: 1.5rem;
    padding: 0.5rem 0.7rem;
    background-color: white;
    margin: 0rem 0.4rem;
    border-radius: 50%;
    box-shadow: 0px 1px 15px gray;
}

#product .container .pro-box1 .pro-sub-box i:hover {
    color: #0957E7;
    transition: all 0.4s;
}

#product .container .pro-box2 {
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product .container .pro-box2 .item-card {
    width: 100%;
    margin: 0rem 1rem;
    text-align: center;
}

#product .container .pro-box2 .item-card .product-img {
    width: 100%;
}

#product .container .pro-box2 .item-card .product-img img {
    width: 100%;
}

#product .container .pro-box2 .item-card h3 {
    padding: 0.3rem 0rem;
}

#product .container .pro-box2 .item-card h3:hover {
    color: #0957E7;
    transition: all 0.5s;
}

#product .container .pro-box2 .item-card .product-price {
    color: rgb(82, 79, 79);
}


/* ================================================== 
                      PROTECT SECTION
     ===================================================== */

#protect {
    width: 100%;
    height: 120vh;
    background-image: url(./images/protect.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 2rem 0rem;
}

#protect .container {
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
}

#protect .container .box1 {
    width: 40%;
    padding: 2rem 0rem;
}

#protect .container .box1 p {
    background-color: #0957E7;
    padding: 0.4rem 1.5rem;
    border-radius: 1rem;
    display: inline-block;
}

#protect .container .box1 h3 {
    padding: 0.7rem 0rem;
}

#protect .container .box2 {
    width: 50%;
    padding: 1rem 0rem;
    display: flex;
    border-bottom: 1px solid white;
}

#protect .container .box2 h3 {
    margin: 0rem 0.6rem;
}

#protect .container .box2 h3:hover {
    color: #0957E7;
    transition: all 0.5s;
}

#protect .container .box3 {
    width: 100%;
    padding: 3rem 0rem;
    display: flex;
}

#protect .container .box3 .paragraph {
    width: 40%;
}

#protect .container .box3 .paragraph p {
    line-height: 1.8;
}

#protect .container .box3 .logo-section {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#protect .container .box3 .logo-section .logo-first {
    padding: 1rem;
}

#protect .container .box3 .logo-section .logo-first img {
    width: 40px;
}

#protect .container .box4 a {
    background-color: #0957E7;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
}


/* ================================================== 
                    TEAM SECTION
===================================================== */

#team {
    width: 100%;
    padding: 3rem 0rem;
    background-color: rgba(128, 128, 128, 0.082);
}

#team .container {
    width: 50%;
    margin: auto;
}

#team .container .team-box {
    width: 100%;
}

#team .container .team-box .team-heading {
    width: 100%;
    padding: 3rem 0rem;
    text-align: center;
}

#team .container .team-box .team-heading .title {
    background-color: #0957E7;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    display: inline-block;
}

#team .container .team-box .team-heading h1 {
    padding: 0.5rem 0rem;
}

#team .container .team-box .team-heading .des {
    width: 70%;
    margin: auto;
    color: gray;
    line-height: 1.9;
}

#team .container .team-box2 {
    width: 100%;
    display: flex;
}

#team .container .team-box2 .team-card {
    width: 100%;
    margin: 0rem 0.5rem;
}

#team .container .team-box2 .team-card .team-img {
    width: 100%;
}

#team .container .team-box2 .team-card .team-img img {
    width: 100%;
}

#team .container .team-box2 .team-card .team-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    background-color: #0957E7;
    padding: 0.3rem;
    color: white;
}


/* - ================================================== 
                      CONTACT SECTION
     ===================================================== */

#contact {
    width: 100%;
    padding: 4rem 0rem;
}

#contact .container {
    width: 80%;
    margin: auto;
    display: flex;
}

#contact .container .contact-box {
    width: 100%;
    padding: 0rem 1rem;
}

#contact .container .contact-box1 .sub-box1 {
    padding: 4rem 0rem;
}

#contact .container .contact-box1 .sub-box1 h1 {
    text-align: left;
    font-size: 2rem;
}

#contact .container .contact-box1 .sub-box2 {
    width: 100%;
}

#contact .container .contact-box1 .sub-box2 .contact-card {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
}

#contact .container .contact-box1 .sub-box2 .contact-card .card-box {
    padding: 0rem 1rem;
}

#contact .container .contact-box1 .sub-box2 .contact-card .card-box i {
    background-color: #0957E7;
    color: white;
    padding: 1.8rem 1.5rem;
    font-size: 2rem;
    border-radius: 50%;
}

#contact .container .contact-box1 .sub-box2 .contact-card .card-box p {
    color: gray;
}

#contact .container .contact-box2 {
    width: 100%;
}

#contact .container .contact-box2 .sub-box1 {
    width: 100%;
    padding: 4rem 0rem;
    display: flex;
    justify-content: flex-end;
}

#contact .container .contact-box2 .sub-box1 h1 {
    text-align: right;
    font-size: 1rem;
    border: 1px solid gray;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 0.3rem;
}

#contact .container .contact-box2 .sub-box1 h1:hover {
    color: #0957E7;
    border: 1px solid #0957E7;
    transition: all 0.5s;
    box-shadow: 1px 3px 20px gray;
}

#contact .container .contact-box2 .sub-box2 {
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
}

#contact .container .contact-box2 .sub-box2 input {
    /* display: flex; */
    padding: 1rem 0.3rem;
    margin: 0.3rem;
    width: 100%;
}

#contact .container .contact-box2 .sub-box3 {
    width: 100%;
    padding: 1rem 0rem;
}

#contact .container .contact-box2 .sub-box3 textarea {
    width: 100%;
    padding: 3rem;
}

#contact .container .contact-box2 .sub-box4 {
    width: 100%;
    padding: 1rem 0rem;
}

#contact .container .contact-box2 .sub-box4 a {
    background-color: #0957e7ce;
    color: white;
    padding: 1.5rem 2rem;
    display: block;
    border-radius: 0.5rem;
    text-align: center;
}

#contact .container .contact-box2 .sub-box4 a:hover {
    transition: all 0.5s;
    background-color: #0957E7;
}


/* ================================================== 
MAP SECTION
===================================================== */

#map {
    width: 100%;
    /* padding: 3rem 0rem; */
}

#map .container {
    width: 100%;
}

#map .container iframe {
    width: 100%;
}


/* ================================================== 
                    FOOTER SECTION
=====================================================  */

#footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 3rem 0rem;
}

#footer .container {
    width: 80%;
    margin: auto;
}

#footer .container .box {
    width: 100%;
}

#footer .container .box1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/* =========== media quary ===============  */

@media only screen and (max-width: 768px) {}