/* =======fonts ======= 
font-family: 'Poppins', sans-serif; */


/* ========css reset ==========  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}


/* =========== utilities class ===========  */


/* ================ NAV SECTION =============  */


/* =========== media quary ===============  */

@media only screen and (max-width: 768px) {}