/* ===========================================
                    fonts 
============================================== 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ===============================================
                        css reset 
==================================================  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}


/* ============================================== 
                utilities class
 ================================================ */


/* ===============================================
                    H E R O    SECTION 
 ==================================================  */


/* -----nav section----- */

#header {
    width: 100vw;
    height: 120vh;
    background-image: url(./images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header .heroNav {
    width: 80%;
    margin: auto;
    color: white;
    padding: 2rem 0rem;
}

#header .heroNav .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .heroNav .container .logo {
    width: 20%;
}

#header .heroNav .container .logo img {
    color: white;
    width: 100%;
}

#header .heroNav .container .navMenu {
    width: 60%%;
}

#header .heroNav .container .navMenu .navBar {
    width: 100%;
}

#header .heroNav .container .navMenu .navBar ul {
    display: flex;
}

#header .heroNav .container .navMenu .navBar ul li {
    list-style: none;
    margin: 0rem 0.5rem;
}

#header .heroNav .container .navMenu .navBar ul li a {
    text-decoration: none;
    color: white;
}

#header .heroNav .container .navMenu .navBar ul li a:hover {
    color: #0957E7;
    transition: all 0.3s;
}

#header .heroNav .container .navCartIcon a {
    text-decoration: none;
    color: white;
}

#header .heroNav .container .navCartIcon a:hover {
    color: #0957E7;
    transition: all 0.3s;
}


/* ------- Hero main content section----------  */

#header .heroContent {
    width: 100%;
    margin: auto;
    color: white;
    position: absolute;
    top: 50%;
}

#header .heroContent .container {
    width: 80%;
    margin: auto;
}

#header .heroContent .container .row-block {
    width: 40%;
}

#header .heroContent .container .row-block p {
    background-color: #0957E7;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin: 0.5rem 0rem;
}

#header .heroContent .container .row-block h1 {
    font-size: 2.4rem;
}

#header .heroContent .container .btn-block {
    display: flex;
    padding: 3rem 0rem;
}

#header .heroContent .container .btn-block .primary-btn {
    background-color: #0957E7;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.2rem;
    border: 1px solid #0957E7;
}

#header .heroContent .container .btn-block .primary-btn:hover {
    background-color: white;
    border: 1px solid white;
    transition: all 0.3s;
    color: black;
}

#header .heroContent .container .btn-block .secondary-btn {
    /* background-color: #0957E7; */
    border: 1px solid white;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.2rem;
    margin-left: 2rem;
}

#header .heroContent .container .btn-block .secondary-btn:hover {
    background-color: white;
    border: 1px solid white;
    transition: all 0.3s;
    color: black;
}


/* ================================================== 
                    ABOUT SECTION
===================================================== */

#aboutCmp {
    width: 100%;
    padding: 7rem 0rem;
}

#aboutCmp .container {
    width: 80%;
    margin: auto;
    display: flex;
}

#aboutCmp .container .aboutCmpBox {
    width: 100%;
}

#aboutCmp .container .aboutCmpBox .img-content {
    width: 100%;
}

#aboutCmp .container .aboutCmpBox .img-content img {
    width: 100%;
    border-radius: 0.5rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content {
    width: 100%;
    padding: 0rem 2rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutSlogan {
    color: white;
    background-color: #0957E7;
    display: inline-block;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutTitle {
    padding: 0.5rem 0rem;
    font-size: 2rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutDes {
    color: gray;
    line-height: 1.7;
    padding: 0.5rem 0rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutSubBox {
    width: 100%;
    display: flex;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutSubBox .about-block {
    width: 100%;
    padding: 0.5rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutSubBox .about-block p {
    padding: 0.5rem 0rem;
}

#aboutCmp .container .aboutCmpBox .about-main-content .aboutSubBox .about-block i {
    color: #0957E7;
}


/* ================================================== 
                            FEATURE SECTION
     ===================================================== */


/* =========== media quary ===============  */

@media only screen and (max-width: 768px) {}